Assignement5/Service References/WeatherService/WeatherSolar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherSolar" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar17.fulton.asu.edu/Page8/WeatherSolar.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar17.fulton.asu.edu/Page8/WeatherSolar.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar17.fulton.asu.edu/Page8/WeatherSolar.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherSolar_GetWeatherDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherDetails" />
  </wsdl:message>
  <wsdl:message name="IWeatherSolar_GetWeatherDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherSolar_GetSolarIntensity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSolarIntensity" />
  </wsdl:message>
  <wsdl:message name="IWeatherSolar_GetSolarIntensity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSolarIntensityResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherSolar">
    <wsdl:operation name="GetWeatherDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherSolar/GetWeatherDetails" message="tns:IWeatherSolar_GetWeatherDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherSolar/GetWeatherDetailsResponse" message="tns:IWeatherSolar_GetWeatherDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSolarIntensity">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherSolar/GetSolarIntensity" message="tns:IWeatherSolar_GetSolarIntensity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherSolar/GetSolarIntensityResponse" message="tns:IWeatherSolar_GetSolarIntensity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeatherSolar" type="tns:IWeatherSolar">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWeatherDetails">
      <soap:operation soapAction="http://tempuri.org/IWeatherSolar/GetWeatherDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSolarIntensity">
      <soap:operation soapAction="http://tempuri.org/IWeatherSolar/GetSolarIntensity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherSolar">
    <wsdl:port name="BasicHttpBinding_IWeatherSolar" binding="tns:BasicHttpBinding_IWeatherSolar">
      <soap:address location="http://webstrar17.fulton.asu.edu/Page8/WeatherSolar.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>