Assignement5/Service References/NearestStore/NearestStore2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar17.fulton.asu.edu/Page4/NearestStore.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NearestStore" />
  <xs:element name="GetNearestStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NearestStore" minOccurs="0" name="GetNearestStoreResult" nillable="true" type="q1:ArrayOfStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>