Assignement5/Service References/GeocodingServices/Geocoding1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetlocationWithAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zipcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetlocationWithAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetlocationWithAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>